/*to fix user agent style*/
* {
  margin: 0;
  padding: 0;
}

/* your styling */

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

html {
    text-transform: lowercase;
    height: 100vh; 
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#abouthtml {
    height: 100%;!important
}

#aboutCont {
    overflow-y: scroll;
}

body {
    width: 100%;
    -webkit-text-size-adjust: 100%;
}

div {
    
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.topthing {
    white-space: nowrap;
}

.sidelogo {
    padding-left: 1em;
    padding-right: 1em;
    width: 8rem;
    height: 8rem;
}

.mini {
    width: 3vh;
}

.indented {
    text-indent: 2rem;
}

.headerImg {
    height: 6.5rem;
}

#gallery {
    display: flex; 
    align-items: center;
    width: 100%;
}

button:hover {
    opacity: .25;
}

.override {
    font-family: 'Merriweather', 'Roboto';
}

.cardparent {
    padding-bottom: 10px;
    padding-top: 10px;
}

.card {
    display: flex;
    align-content: center;
    text-align: center;
    box-shadow: 0px 0px 1em  rgba(0, 0, 0, 0.2);
    padding: 0rem;
    width: 100%;
    margin-bottom: .5rem!important;

}

.wiggler:hover {
    /* animation: wiggle 1.5s infinite; */
    
    transform: scale(1.06);
}

@media (hover:hover) { .cardholder .card:hover {
    background-color: #6477bd;
    color: #ffffff;
    box-shadow: 0px 1px 10px black;   
    }
}

@media only screen 
    and (max-device-width: 320px) {
        .headerImg {
            height: 5vh;
        }
    }
@media only screen 
    and (max-device-height: 850px) {
        #logostuff {
            height: 70vh;
            position: fixed;
            overflow-y: hidden;
        }    
    }
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1000px) {
      .card {
          width: 70vw; !important
          margin: auto;
      }
      .about {
          width: 100vw; !important
          margin: auto;
          overflow-y: scroll;
      }
      
}


#logo {
    height: 80vh;
}

#navbar {
  text-align: center;
  list-style: inside;
}

li {
    padding-top: 10px;
}

li img {
    height: 2em;

}

#about {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    font-size: auto;
}

#aboutlist li {
    padding-top: 20px;
    font-size: 1em;
    font-family: 'Merriweather', 'Roboto';
}

#menu {
    width: 20vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



.container-fluid {
    min-height: 100%!important;
    padding-top: 1rem;
}

.card-body {
    font-size: 2vi;
}

.card-title {
    font-size: 3vi;
}

.nonInventory .card {
    padding: 0rem;!important
}

